BlogSystem/src/conf/xml-resources/web-service-references/WsClient/wsdl/localhost_8733/Design_Time_Addresses/WcfBlogServiceLibrary/Service1/.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfBlogServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfBlogServiceLibrary"><xs:complexType name="MyBlog"><xs:sequence><xs:element minOccurs="0" name="blogNO" type="xs:int"/><xs:element minOccurs="0" name="blogby" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="doc" type="xs:dateTime"/><xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="MyBlog" nillable="true" type="tns:MyBlog"/><xs:complexType name="ArrayOfMyBlog"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="MyBlog" nillable="true" type="tns:MyBlog"/></xs:sequence></xs:complexType><xs:element name="ArrayOfMyBlog" nillable="true" type="tns:ArrayOfMyBlog"/></xs:schema>