BlogSystem/src/conf/xml-resources/web-service-references/WsClient/wsdl/localhost_8733/Design_Time_Addresses/WcfBlogServiceLibrary/Service1/.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfBlogServiceLibrary/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBlogServiceLibrary"/><xs:element name="GetData"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="value" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetDataResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="AddBlog"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="s" nillable="true" type="q1:MyBlog" xmlns:q1="http://schemas.datacontract.org/2004/07/WcfBlogServiceLibrary"/></xs:sequence></xs:complexType></xs:element><xs:element name="AddBlogResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="AddBlogResult" nillable="true" type="xs:string"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetAllBlog"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetAllBlogResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetAllBlogResult" nillable="true" type="q2:ArrayOfMyBlog" xmlns:q2="http://schemas.datacontract.org/2004/07/WcfBlogServiceLibrary"/></xs:sequence></xs:complexType></xs:element></xs:schema>